@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <html>
<head>
    <title> Wellcome to page: su dung hop thoai Prompt de nhap du lieu va su dung cau lenh document.write dde hien thi du lieu. </title>
</head>
<body>
    <script language="javascript">
        var    Ten, Tuoi
        Ten = prompt("Hay nhap ten cua ban: ", "");
        Tuoi = prompt("Hay nhap tuoi cua ban:", "10");
        window.document.write("Hello<b>" + Ten + "</b> <br/>");
        window.document.write("Tioi cua ban la: " + Tuoi);


    </script>
</body>

</html>

